.board {
    width: 100vw;
    height: 100vh;
    border: 5px solid #999;
    margin: auto;
    background: aqua;
}

.word {
    width: 19vw;
    height: 18vh;
    border: 0.1vw solid black;
    margin: 0.4vw 0.4vw;
    float: left;
    background: grey;
    background-size: 100% 100%;
    text-align: center;
    line-height: 18vh;
    color: black;
    cursor: pointer;
}

.selected {
    cursor: default;
}

.spymaster {
    cursor: default;
}

body {
    background: black;
    color: aliceblue;
}